.container{
    text-align: center;
    width: 30%;
    margin: 0 auto;
/*    justify-content: center;*/
}


section:first-of-type p {
    
}

.original-text{
    background-color: lightgray;
    padding: 1px;
    
}

#text-box{
    width: 95%;
    height: 150px;
    
}

.text-border{
    border: 10px solid gray;
    border-radius: 20px;
    margin-top: 15px;
}


section div p{
    float: left;
    margin-left: 40px;
    font-size: 40px
}

.reset{
    background-color: aliceblue;
    height: 40px;
    width: 120px;
    float: right;
    margin-top: 38px;
    margin-right: 20px;
    border: 6px solid orange;
    border-radius: 4px 
}