.container{
    text-align: center;
    width: 30%;
    margin: 0 auto;
/*    justify-content: center;*/
}


.original-text{
    background-color: lightgray;
    
}

#text-box{
    width: 550px;
    height: 150px;
    
}

.text-border{
    border: 10px solid gray;
    border-radius: 8px;
}


section div p{
    float: left;
    margin-left: 40px;
    font-size: 40px
}

.reset{
    background-color: aliceblue;
    height: 40px;
    width: 120px;
    float: right;
    margin-top: 38px;
    margin-right: 20px;
    border: 4px solid orange;
    border-radius: 4px 
}