body{
   
    color: #262729;
    background-color: aliceblue;
    font-size:1.2em;
    margin: 0;
}
* {
  box-sizing: border-box;
}


.wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2em;
    background-color: #03c6fc;
}

header{
    max-width: 550px;
    background-color: #29528c;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: -1px/*H*/ -1px/*V*/ 25px/*Blr*/ 1px/*Spread*/ rgba(0/*shdw*/,0/*bckg col*/,300/*box color*/,.10/*opacity*/), 2px 2px 8px 1px rgba(0,0,0,1);
    
  
}

header h1{
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 1em;
    
}


.container{
    
    margin: 0 auto;
    max-width: 550px;
    padding: 0 2em
}

.instructions p{
    
    max-width: 550px;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.5em;

    
}


.original-text{
    background-color: #e6e6e6;
    padding: .5em;
    margin-top: 1em;
    box-shadow: -1px -1px 25px 1px rgba(0,0,300,.10), 2px 2px 8px 1px rgba(0,0,0,1);
    border-radius: 8px;
}

#text-box{
    width: 100%;
    height: 14em;
    
}

.text-border{
    border: 15px solid gray;
    border-radius: 20px;
    margin-top: 3em;
    box-shadow: -1px -1px 25px 1px rgba(0,0,300,.10), 2px 2px 8px 1px rgba(0,0,0,1);    
}

.timerRow{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.timer{
    font-size: 2.5em;
    font-weight: bold;
}


.reset{
    
    background-color: aliceblue;
    height: 50px;
    width: 150px;
    margin-top: 2.5em;
    font-size: 1em;
    border: 6px solid #ff9900;
    border-radius: 4px;

}


.reset:hover{
    background-color: #ff9900;
}